.hand__container {
  width: 100%;
  height: 300px;
}

.hand__wrapper {
  width: 500px;
  height: 500px;
  margin: 0 auto;

  background-color: lightgrey;
}

.hand {
  position: relative;
  width: 100%;
  height: 100%;
}

.hand__card {

}
